/build-hw-Desktop_Qt_5_5_0_GCC_64bit-Debug/Makefile
/build-hw-Desktop_Qt_5_5_0_GCC_64bit-Debug/obj/HW0a.o
/build-hw-Desktop_Qt_5_5_0_GCC_64bit-Debug/obj/HW0b.o
/build-hw-Desktop_Qt_5_5_0_GCC_64bit-Debug/obj/HW0c.o
/build-hw-Desktop_Qt_5_5_0_GCC_64bit-Debug/obj/HW1a.o
/build-hw-Desktop_Qt_5_5_0_GCC_64bit-Debug/obj/HW1b.o
/build-hw-Desktop_Qt_5_5_0_GCC_64bit-Debug/obj/HW2a.o
/build-hw-Desktop_Qt_5_5_0_GCC_64bit-Debug/obj/HW2b.o
/build-hw-Desktop_Qt_5_5_0_GCC_64bit-Debug/obj/HW3a.o
/build-hw-Desktop_Qt_5_5_0_GCC_64bit-Debug/obj/HW3b.o
/build-hw-Desktop_Qt_5_5_0_GCC_64bit-Debug/obj/HW.o
/build-hw-Desktop_Qt_5_5_0_GCC_64bit-Debug/obj/main.o
/build-hw-Desktop_Qt_5_5_0_GCC_64bit-Debug/obj/MainWindow.o
/build-hw-Desktop_Qt_5_5_0_GCC_64bit-Debug/hw
/build-hw-Desktop_Qt_5_5_0_GCC_64bit-Debug/moc/moc_HW0a.cpp
/build-hw-Desktop_Qt_5_5_0_GCC_64bit-Debug/moc/moc_HW0b.cpp
/build-hw-Desktop_Qt_5_5_0_GCC_64bit-Debug/moc/moc_HW0c.cpp
/build-hw-Desktop_Qt_5_5_0_GCC_64bit-Debug/moc/moc_HW1a.cpp
/build-hw-Desktop_Qt_5_5_0_GCC_64bit-Debug/moc/moc_HW1b.cpp
/build-hw-Desktop_Qt_5_5_0_GCC_64bit-Debug/moc/moc_HW2a.cpp
/build-hw-Desktop_Qt_5_5_0_GCC_64bit-Debug/moc/moc_HW2b.cpp
/build-hw-Desktop_Qt_5_5_0_GCC_64bit-Debug/moc/moc_HW3a.cpp
/build-hw-Desktop_Qt_5_5_0_GCC_64bit-Debug/moc/moc_HW3b.cpp
/build-hw-Desktop_Qt_5_5_0_GCC_64bit-Debug/moc/moc_HW4.cpp
/build-hw-Desktop_Qt_5_5_0_GCC_64bit-Debug/moc/moc_MainWindow.cpp
/build-hw-Desktop_Qt_5_5_0_GCC_64bit-Debug/obj/HW4.o
/build-hw-Desktop_Qt_5_5_0_GCC_64bit-Debug/obj/moc_HW0a.o
/build-hw-Desktop_Qt_5_5_0_GCC_64bit-Debug/obj/moc_HW0b.o
/build-hw-Desktop_Qt_5_5_0_GCC_64bit-Debug/obj/moc_HW0c.o
/build-hw-Desktop_Qt_5_5_0_GCC_64bit-Debug/obj/moc_HW1a.o
/build-hw-Desktop_Qt_5_5_0_GCC_64bit-Debug/obj/moc_HW1b.o
/build-hw-Desktop_Qt_5_5_0_GCC_64bit-Debug/obj/moc_HW2a.o
/build-hw-Desktop_Qt_5_5_0_GCC_64bit-Debug/obj/moc_HW2b.o
/build-hw-Desktop_Qt_5_5_0_GCC_64bit-Debug/obj/moc_HW3a.o
/build-hw-Desktop_Qt_5_5_0_GCC_64bit-Debug/obj/moc_HW3b.o
/build-hw-Desktop_Qt_5_5_0_GCC_64bit-Debug/obj/moc_HW4.o
/build-hw-Desktop_Qt_5_5_0_GCC_64bit-Debug/obj/moc_MainWindow.o
/build-hw-Desktop_Qt_5_5_0_GCC_64bit-Debug/obj/qrc_hw.o
/build-hw-Desktop_Qt_5_5_0_GCC_64bit-Debug/qrc_hw.cpp
/build-hw-Desktop_Qt_5_6_0_GCC_64bit-Debug/hw
/build-hw-Desktop_Qt_5_6_0_GCC_64bit-Debug/Makefile
/build-hw-Desktop_Qt_5_6_0_GCC_64bit-Debug/moc/moc_Blur.cpp
/build-hw-Desktop_Qt_5_6_0_GCC_64bit-Debug/moc/moc_Btct.cpp
/build-hw-Desktop_Qt_5_6_0_GCC_64bit-Debug/moc/moc_Gamma.cpp
/build-hw-Desktop_Qt_5_6_0_GCC_64bit-Debug/moc/moc_Histrogramstrech.cpp
/build-hw-Desktop_Qt_5_6_0_GCC_64bit-Debug/moc/moc_MainWindow.cpp
/build-hw-Desktop_Qt_5_6_0_GCC_64bit-Debug/moc/moc_Median.cpp
/build-hw-Desktop_Qt_5_6_0_GCC_64bit-Debug/moc/moc_Quantization.cpp
/build-hw-Desktop_Qt_5_6_0_GCC_64bit-Debug/moc/moc_Sharpen.cpp
/build-hw-Desktop_Qt_5_6_0_GCC_64bit-Debug/moc/moc_Threshold.cpp
/build-hw-Desktop_Qt_5_6_0_GCC_64bit-Debug/obj/Blur.o
/build-hw-Desktop_Qt_5_6_0_GCC_64bit-Debug/obj/Btct.o
/build-hw-Desktop_Qt_5_6_0_GCC_64bit-Debug/obj/Gamma.o
/build-hw-Desktop_Qt_5_6_0_GCC_64bit-Debug/obj/Histrogramstrech.o
/build-hw-Desktop_Qt_5_6_0_GCC_64bit-Debug/obj/HW.o
/build-hw-Desktop_Qt_5_6_0_GCC_64bit-Debug/obj/main.o
/build-hw-Desktop_Qt_5_6_0_GCC_64bit-Debug/obj/MainWindow.o
/build-hw-Desktop_Qt_5_6_0_GCC_64bit-Debug/obj/Median.o
/build-hw-Desktop_Qt_5_6_0_GCC_64bit-Debug/obj/moc_Blur.o
/build-hw-Desktop_Qt_5_6_0_GCC_64bit-Debug/obj/moc_Btct.o
/build-hw-Desktop_Qt_5_6_0_GCC_64bit-Debug/obj/moc_Gamma.o
/build-hw-Desktop_Qt_5_6_0_GCC_64bit-Debug/obj/moc_Histrogramstrech.o
/build-hw-Desktop_Qt_5_6_0_GCC_64bit-Debug/obj/moc_MainWindow.o
/build-hw-Desktop_Qt_5_6_0_GCC_64bit-Debug/obj/moc_Median.o
/build-hw-Desktop_Qt_5_6_0_GCC_64bit-Debug/obj/moc_Quantization.o
/build-hw-Desktop_Qt_5_6_0_GCC_64bit-Debug/obj/moc_Sharpen.o
/build-hw-Desktop_Qt_5_6_0_GCC_64bit-Debug/obj/moc_Threshold.o
/build-hw-Desktop_Qt_5_6_0_GCC_64bit-Debug/obj/qrc_hw.o
/build-hw-Desktop_Qt_5_6_0_GCC_64bit-Debug/obj/Quantization.o
/build-hw-Desktop_Qt_5_6_0_GCC_64bit-Debug/obj/Sharpen.o
/build-hw-Desktop_Qt_5_6_0_GCC_64bit-Debug/obj/Threshold.o
/build-hw-Desktop_Qt_5_6_0_GCC_64bit-Debug/qrc_hw.cpp
